files:
  "/etc/nginx/nginx.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      #Elastic Beanstalk Nginx Configuration File

      user                    nginx;
      error_log               /var/log/nginx/error.log warn;
      pid                     /var/run/nginx.pid;
      worker_processes        auto;
      worker_rlimit_nofile    32153;

      events {
          worker_connections  1024;
      }

      http {
        server {
          listen 80;
          server_name io.yourhost.com;

          location / {

            proxy_pass http://127.0.0.1:8080;
            proxy_http_version 1.1;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $host;

            proxy_pass http://nodes;

            # enable WebSockets
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
          }
        }

        upstream nodes {
          # enable sticky session based on IP
          ip_hash;

          server app01:3000;
          server app02:3000;
          server app03:3000;
        }
      }